body{
    background: #525151;
}
h1{
    font-family: 'Press Start 2P', cursive;
    color: #F2C94C;
    text-align: center;
}


#url{
    position: absolute;
    font-size: 15px;
    font-family: cursive;
}

label{
    margin: 15px;
    font-family: 'Press Start 2P';
    font-size: 13px;
    margin-bottom: 100px;
    color: white;
}

.url{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin-left: 690px;
    
    width: 90px;
    height: 30px;
}

.imagens{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}